:root {
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
    --vp-c-mute: #eeeef0;
    --vp-c-text-code: #476582;
}

.custom-block.line {
    padding-top: 8px
}

.main img, .main video {
    margin: auto;
}

.main table {
    text-align: center;
}
